a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0px;
}

p {
  margin: 0px;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  border: 0cm;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: var(--font-weight500);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-button,
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  border: 0cm;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: var(--font-weight500);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --border-pramary-color: #ececec;
  --border-secondary-color: #afb1b8;
  --opacity-bgc: rgba(47, 48, 58, 0.4);
  --font-weight400: 400;
  --font-weight500: 500;
  --font-weight600: 600;
  --font-weight700: 700;
  --font-weight900: 900;
}

.agitation {
  color: var(--primary-white-color);
  font-weight: var(--font-weight700);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 0;
}

.benefits-list__title {
  font-weight: var(--font-weight700);
  line-height: 1.14;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media (max-width: 1199px) {
  .benefits-list {
    margin: -15px;
  }
}
@media (min-width: 1200px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
  }
}

@media (max-width: 767px) {
  .benefits-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .benefits-list__item {
    width: calc((100% - 60px) / 2);
  }
}
@media (max-width: 1199px) {
  .benefits-list__item {
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .benefits-list__item {
    width: calc((100% - 90px) / 4);
  }
  .benefits-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-list__svg-item {
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .benefits-list__svg-item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .benefits-list__svg-item {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__svg-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 270px;
    height: 120px;
  }
}

.benefits-list__social-list__design-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.benefits-list__text {
  color: var(--secondary-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media (min-width: 769px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 769px) {
  .clients-list__item {
    width: calc((100% - 90px) / 3);
  }
}
@media (max-width: 1199px) {
  .clients-list__item {
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 92px;
  align-items: center;
  border: 1px solid var(--border-secondary-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-text-color);
  outline: none;
}
.clients-list__link:hover svg, .clients-list__link:focus svg {
  fill: var(--accent-text-color);
}

.clients-list__icon {
  fill: var(--border-secondary-color);
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--footer-background-color);
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: var(--adress-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--primary-white-color);
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer__navigation {
  width: 210px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media screen and (max-width: 768px) {
  .footer__navigation {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .footer__navigation {
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .footer__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__agitation {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media screen and (min-width: 1200px) {
  .footer__agitation {
    margin-right: 93px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 514px;
  margin-right: auto;
}

.footer__agitation .social-list__link {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__agitation .social-list__link:hover,
.footer__agitation .social-list__link:focus {
  background-color: var(--accent-text-color);
  -webkit-filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
}

.footer__agitation .social-list__design-svg {
  fill: var(--primary-white-color);
}

.logo {
  margin-right: 93px;
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight700);
  font-size: 26px;
  line-height: 1.19;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo--accent, .logo:hover, .logo:focus {
  color: var(--accent-text-color);
}

.footer__logo {
  display: block;
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight700);
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo:hover, .footer__logo:focus {
  color: var(--accent-text-color);
}

.pictures-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures-list__item {
  width: calc((100% - 60px) / 3);
}
.pictures-list__item:not(:last-child) {
  margin-right: 30px;
}

.pictures-list__product {
  position: relative;
}

.pictures-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 27px;
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section--non-margin {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .section--non-margin {
    display: none;
  }
}
.section--zero-padding {
  padding-top: 94px;
}
.section--another-background {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--secondary-background-color);
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: var(--font-weight700);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.sign-up__label {
  color: var(--primary-white-color);
  font-weight: var(--font-weight700);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.sign-up {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.sign-up__button {
  position: relative;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  background-color: var(--accent-text-color);
  border: 0px;
  border-radius: 4px;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 185%;
  cursor: pointer;
  letter-spacing: 0.06em;
}

.sign-up__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--primary-white-color);
}

.sign-up__input {
  padding: 15px 16px;
  max-width: 100%;
  background-color: var(--footer-background-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-white-color);
}
.sign-up__input:hover, .sign-up__input:focus {
  border: 1px solid var(--accent-text-color);
  outline: none;
}
@media screen and (min-width: 480px) {
  .sign-up__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up__input {
    width: 358px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-text-color);
  -webkit-filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
}
.social-list__link:hover svg, .social-list__link:focus svg {
  fill: var(--primary-white-color);
}

.social-list__design-svg {
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250 cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250 cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */