a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0px;
}

p {
  margin: 0px;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  border: 0cm;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  font-family: inherit;
  font-weight: var(--font-weight500);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-button,
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  border: 0cm;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  font-family: inherit;
  font-weight: var(--font-weight500);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
