:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --border-pramary-color: #ececec;
  --border-secondary-color: #afb1b8;
  --opacity-bgc: rgba(47, 48, 58, 0.4);
  --font-weight400: 400;
  --font-weight500: 500;
  --font-weight600: 600;
  --font-weight700: 700;
  --font-weight900: 900;
}
