.footer {
  background-color: var(--footer-background-color);
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 767px) {
    text-align: center;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: var(--adress-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-white-color);
  }
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;

  font-style: normal;
}

.footer__navigation {
  width: 210px;
  box-sizing: content-box;
  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__flex-container {
  @media (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__agitation {
  box-sizing: content-box;
  @media screen and(min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 514px;
  margin-right: auto;
}

.footer__agitation .social-list__link {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__agitation .social-list__link:hover,
.footer__agitation .social-list__link:focus {
  background-color: var(--accent-text-color);
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
}

.footer__agitation .social-list__design-svg {
  fill: var(--primary-white-color);
}
