.sign-up__label {
  color: var(--primary-white-color);
  font-weight: var(--font-weight700);
  text-transform: uppercase;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
  display: block;
}

.sign-up {
  box-sizing: content-box;
}

.sign-up__button {
  position: relative;

  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  background-color: var(--accent-text-color);
  border: 0px;
  border-radius: 4px;
  color: var(--primary-white-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 185%;
  cursor: pointer;
  letter-spacing: 0.06em;
}

.sign-up__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--primary-white-color);
}

.sign-up__input {
  padding: 15px 16px;
  max-width: 100%;
  background-color: var(--footer-background-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-white-color);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-text-color);
    outline: none;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
